/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #1b1b1f;
  color: #fff;
  padding-left: 70px;
  padding-right: 70px;
}

p {
  font-size: 18px;
}

nav {
  border: 1px solid #e5e5e5;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 64px;
  align-items: center;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  margin-block: 70px;
}

#certification-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 95px;
}

#certification-intro p {
  line-height: 48px;
  width: 860px;
}

#certification-h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 72px;
  margin-top: 66px;
}

#certification-structure > h2,
#core-categories > h2 {
  margin-bottom: 16px;
}

#certification-structure p {
  width: 1300px;
  line-height: 48px;
  margin-top: 16.42px;
}

#certification-structure ul li {
  margin-block: 2rem;
}

#level-container {
  display: flex;
  justify-content: center;
  margin-block: 70px;
  gap: 190px;
}

#proficiency-level {
  margin-top: 70px;
}

.level {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.level img {
  width: 124px;
}

.level p {
  width: 248px;
}

.level-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin: 0 auto;
}

#core-categories {
  margin: 0 auto;
  width: 1260px;
}

.category {
  width: 420px;
  height: 420px;
  border-radius: 9.6px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-size: cover;
  cursor: pointer;
  border: 1px solid white;
}

.core-categories-top-container {
  margin-bottom: 20px;
}

.core-categories-top-container,
.core-categories-bottom-container {
  display: flex;
  gap: 20px;
}

.category img {
  width: 77px;
  margin: 0 auto;
  z-index: 20;
}

.category p {
  z-index: 20;
}

.category img,
.category p {
  pointer-events: none;
}

.category-dark-overlay {
  position: absolute;
  z-index: 10;
  background-color: black;
  width: 420px;
  height: 420px;
  border-radius: 9.6px;
  opacity: 0.3;
}

.category-dark-overlay:hover {
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.core-categories-top-container > .category:nth-child(1) {
  background-image: url(./assets/images/soda_girl.jpg);
}

.core-categories-top-container > .category:nth-child(2) {
  background-image: url(./assets/images/pig.png);
}

.core-categories-top-container > .category:nth-child(3) {
  background-image: url(./assets/images/sculpting.jpg);
}

.core-categories-bottom-container > .category:nth-child(1) {
  background-image: url(./assets/images/rigging.jpg);
}

.core-categories-bottom-container > .category:nth-child(2) {
  background-image: url(./assets/images/shade.jpg);
}

.core-categories-bottom-container > .category:nth-child(3) {
  background-image: url(./assets/images/mansion.jpg);
}

.steps-top {
  display: flex;
  margin-bottom: 80px;
}

.steps-bottom {
  display: flex;
}

.step {
  width: 33%;
  padding: 1rem;
  position: relative;
}

.step h3 {
  font-size: 128px;
  font-weight: 600;
  position: absolute;
  top: -4.2rem;
}

.step-desc {
  background-color: grey;
  height: 334px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  padding: 41px;
}

.step-desc h4 {
  font-size: 24;
  font-weight: 600;
  line-height: 28px;
}

.step-desc p {
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
}

.step-desc p {
  margin-top: 10px;
}

#certification-procedure
  > div.steps-top
  > div:nth-child(2)
  > div
  > p
  > span
  > a {
  color: #ec7824;
  text-decoration: none;
}

#certification-procedure > div > div > div > a {
  position: absolute;
  bottom: 41px;
  right: 41px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

#cert-cta {
  background-image: url(./assets/images/cert-cta-bg.png);
  color: #1b1b1f;
  margin-left: calc(-1 * 70px); /* Negative of body padding */
  margin-right: calc(-1 * 70px);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 46px;
}

#cert-cta > h2 {
  margin: auto;
  font-size: 40px;
  line-height: 48px;
}

.step-desc h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

#cert-cta > p {
  font-size: 18px;
  line-height: 28px;
  width: 640px;
  margin-top: 7px;
}

.cert-cta-btns {
  display: flex;
  margin-top: 33px;
  align-items: center;
}

.cert-cta-btns-left button {
  background-color: #1b1b1f;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding: 10px 25px;
  border-radius: 9.6px;
  border: none;
  margin-right: 30px;
}

.cert-cta-btns-right {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  gap: 0.2rem;
}

.cert-cta-btns-right a {
  text-decoration: none;
  color: #ec7824;
  font-weight: 600;
}

.cert-vals-card-container {
  display: flex;
  gap: 20px;
  min-height: 244px;
}

.cert-vals-card {
  width: 33%;
  padding: 46px 41px;
  max-width: 420px;
  border-radius: 9.6px;
  height: 244px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
}

.cert-vals-card-container h4 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
  font-weight: 600;
}

.cert-vals-card-container p {
  font-size: 19px;
  line-height: 28px;
  font-weight: 200;
}

#cert-vals > h2 {
  margin-bottom: 46px;
}

footer {
  border: 1px solid white;
  text-align: center;
  margin-top: 110px;
  width: 100%;
}
